/*Universal selector*/
*{
  font-family: SF Pro Display, "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* common elements for header and main */
header,
main,
footer{
  ul{ 
    margin: 0;  /* both header and footer have list of elements with any list style */
    padding: 0;
    list-style: none;
  }
}
header,
main{
  a{text-decoration: none;} /* Most of the header and main elements are wrapped in <a> tag, for not showing underlines*/
}

/* Navbar/header is a horizontal list of elements in header */
.header_container{
  position: fixed;
  height: 45px;
  width: 100%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.nav_bar{
  width: 100%;
  max-width: 980px;
}
.nav_list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_link{
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
}
.nav_link:hover{
  color: rgba(255, 255, 255);
}